@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --fonte-forte: 'Passion One';
    --fonte-rua: 'Bangers';
}

html {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 100%;
    border: none;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: none;
}

header {
    background-color: white;
    height: max-content;
    border: none;
}

#topoHeader {
    width: 100%;
    font-size: 3.5vw;
    white-space: nowrap;
    font-family: var(--fonte-forte), sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    background-color: black;
    color: white;
    border: none;
}

#head {
    width: 100%;
    aspect-ratio: 16/11;
    background-image: url(Imagens/dom-hill-0wMLZNbE8Ac-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

#head > span {
    font-family: var(--fonte-rua), sans-serif;
    font-size: 14vw;
    color: white;
    text-shadow: 1px 1px 35px black, 0 0 20px black, 1px 1px 10px black;
    border: none;
}

#head p {
    font-size: 3vw;
    font-family: var(--fonte-forte);
    color: white;
    text-shadow: 1px 1px 5px black;
    border: none;
}

.navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    height: max-content;
    background-color: black;
    border: none;
}

.link {
    flex: 1;
    text-align: center;
    height: 100%;
    padding: 1rem 2.5rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-family: 'Futura', sans-serif;
    cursor: pointer;
    border: none;
    transition: .35s;
}

.btnTop{
    text-align: center;
    height: 100%;
    padding: 1rem;
    font-size: 2rem;
    background-color: white;
    color: white;
    text-decoration: none;
    font-family: 'Futura', sans-serif;
    cursor: pointer;
    border: none;
    transition: 0.6s;
}

.btnTop img {
    width: 1rem;
    border: none;
}

.link:hover, .link:active {
    background-color: white;
    color: black;
}


.btnTop:hover{
    background-color: gold;
}


main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    border: none;
}

.gridSection {
    padding: 10px;
    display: flex;
    border: none;
    width: 100%;
    height: 100vh;
    border-bottom: 2px solid black;
}



#about {
    background-color: rgb(148, 148, 148);
    background-image: url(Imagens/wp6793431-old-school-rap-wallpapers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    border: none;
}

.gridSection div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
}

.sectionImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutPicture {
    height: 93%;
    width: 95%;
    background-color: black;
    background-image: url(Imagens/Wallace1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    animation: troca-foto 4s infinite alternate-reverse ease-in-out 50ms;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.55);
}

@keyframes troca-foto {
    50% {
        background-image: url(Imagens/Flavin1.jpeg);
    }
}

.sectionCard {
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    height: auto;
    max-height: 85%;
    width: 90%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.55);
}

.sectionBtn {
    text-align: center;
    height: auto;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    text-shadow: 0px 0px 3px darkblue;
    background: linear-gradient(to bottom, #0184ff, #042285);
    box-shadow: 1px 1px 4px rgba(0, 0, 59, 0.55);
    border: none;
    color: white;
    font-family: 'Futura', sans-serif;
    font-size: 1.5rem;
    font-stretch: normal;
    cursor: pointer;
}

.sectionBtn:active, .sectionBtn:hover {
    position: relative;
    top: 1px;
    left: 1px;
    background: linear-gradient(to bottom, #46a5ff, #0838d8);
}


footer {
    min-height: 300px;
    text-align: center;
    font-size: 2rem;
}

