@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --fonte-forte: 'Passion One';
    --fonte-rua: 'Bangers';
}

html {
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

#back1{
    width: 100%;
    height: 85vh;
    background-image: url(Imagens/wp6793431-old-school-rap-wallpapers.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
}

#back1 > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    -webkit-backdrop-filter: brightness(45%);
    backdrop-filter: brightness(45%);
}

#back1 > div > span{
    white-space: nowrap;
    max-width: 70%;
    width: fit-content;
    font-size: 6rem;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: var(--fonte-forte), sans-serif;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.822);
}

#fire{
    color: white;
    display: block;
    font-size: 15rem;
    text-align: center;
    font-family: var(--fonte-forte), sans-serif;
}

.button1{
    color: black;
    display: block;
    font-size: 1.7rem;
    font-family: var(--fonte-forte), sans-serif;
    height: max-content;
    width: 14rem;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.950);
    background-color: white;
    z-index: 2;
    position: relative;
    transition: background-color .4s ease-in-out 0s;
}


.button1:hover{
    color: white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.90);
    box-shadow: none;
    transition: text-shadow .4s ease-in-out 0s;
}


.button1::after{
    content: "";
    height: .3rem; 
    left: 0; 
    top: 100%; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease-in-out 0s; 
    -webkit-transition: all 0.3s ease-in-out 0s; 
    z-index: -1;
}

.button1:hover::after{
    width: 100%;
    background-color: white;
}

.button1::before{
    content: "";
    height: .3rem; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease-in-out 0s; 
    -webkit-transition: all 0.3s ease-in-out 0s; 
    z-index: -1;
}

.button1:hover::before{
    width: 100%;
    background-color: white;
}


.button1:active{
    transform: translate(1px, 1px);
}

.linkmenu{
    background-color: transparent;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
    border-radius: 5px;
    margin: 5px;
    padding: 7px;
    font-weight: lighter;
    width: max-content;
    font-size: 2rem;
    font-family: var(--fonte-forte), sans-serif;
}

.linkmenu:hover{
    background-color: rgba(255, 255, 255, 0.95);
    text-shadow: none;
    color: black;
    position: relative;
    bottom: 1px;
    left: 1px;
}

#menu{
    background: linear-gradient(to bottom, black, rgb(31, 31, 31));
    width: 100%;
    height: 75%;
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.822);
}

#menu > nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#logo{
    white-space: nowrap;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 6rem;
    font-family: var(--fonte-rua), sans-serif;
    text-shadow: 3px 3px 10px black;
}

.painel{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#street{
    background-color: white;
}

#futebol{
    background-image: url(Imagens/8630f89d914a7d2286af60362208740e.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nome-painel{
    padding: 8px 5px;
    font-family: var(--fonte-rua), sans-serif;
    font-size: 7rem;
    font-weight: lighter;
    text-align: center;
    display: block;
}

.marcas{
    width: 90%;
    height: 4rem;
}


.painel-fotos{
    width: 90%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

.foto-espaço{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.550);
    border-radius: 5px;
    width: 23%;
    min-height: 600px;
    height: 100%;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}


#foto1:hover{
    animation-play-state: paused;
    animation-timing-function: steps(1);
}

#foto2:hover{
    animation-play-state: paused;
    animation-timing-function: steps(1);
}

#foto3:hover{
    animation-play-state: paused;
    animation-timing-function: steps(1);
}

#foto1{
    background-image: url(Imagens/Flavin4.jpeg);
    animation: muda-foto1 8s infinite 2s ease-in-out;
    animation-direction: alternate;
}

@keyframes muda-foto1{

    33%{
        background-image: url(Imagens/Flavin2.jpeg);
    }

    66%{
        background-image: url(Imagens/Flavin1.jpeg);
    }

    100%{
        background-image: url(Imagens/Flavin3.jpeg);
    }
}

#foto2{
    background-image: url(Imagens/Giovana1.jpeg);
    animation: muda-foto2 8s infinite 2s ease-in-out;
    animation-direction: alternate;
}

@keyframes muda-foto2{

    33%{
        background-image: url(Imagens/Giovana2.jpeg);
    }

    66%{
        background-image: url(Imagens/Giovana4.jpeg);
    }

    100%{
        background-image: url(Imagens/Giovana3.jpeg);
    }
}



#foto3{
    background-image: url(Imagens/Wallace1.jpeg);
    animation: muda-foto3 8s infinite 2s ease-in-out;
    animation-direction: alternate;
}

@keyframes muda-foto3{

    33%{
        background-image: url(Imagens/Wallace2.jpeg);
    }

    66%{
        background-image: url(Imagens/Flavin4.jpeg);
    }

    100%{
        background-image: url(Imagens/Giovana5.jpeg);
    }
}


.blur-filter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    -webkit-backdrop-filter: blur(45%);
    backdrop-filter: blur(45%);
}

.legenda{
    font-family: var(--fonte-forte);
    font-size: 4rem;
    text-align: center;
    padding: 8px 8px;
}

.text-p{
    font-size: 2rem;
}


#basquete{
    background: radial-gradient(rgb(142, 76, 172),rgb(78, 3, 177));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.left-painel{
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nome-painel2{
    font-family:var(--fonte-rua), sans-serif;
    font-size: 7rem;
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px 10px black;
    text-align: center;
}

.desc-jersey{
    background-color: white;
    color: purple;
    font-family: var(--fonte-forte);
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

.left-painel > button{
    background-color: gold;
}

.left-painel > button:hover::before{
    background-color: gold;
}

.left-painel > button:hover::after{
    background-color: gold;
}

.jersey{
    width: 40%;
}