
@media screen and (max-width: 620px) {
    #logo{
        font-size: 4rem;
    }

    .linkmenu{
        font-size: 1.5rem;
    }

    #back1 > div > span{
        font-size: 4rem;
    }

    #fire{
        font-size: 10rem;
    }

    .nome-painel2, .nome-painel{
        font-size: 6rem;
    }

    

    #foto1:first-child{
        display: none;
    }

    .foto-espaço{
        width: 30%;
    }

    .legenda{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 430px) {
    #logo{
        font-size: 2.5rem;
    }

    .linkmenu{
        font-size: 1.2rem;
        padding: 3px;
    }

    #back1 > div > span{
        font-size: 3rem;
    }

    .nome-painel2, .nome-painel{
        font-size: 4rem;
    }

    .button1{
        width: 10rem;
        font-size: 1.3rem;
    }

    .foto-espaço{
        width: 45%;
        height: 400px;
    }

    .legenda{
        font-size: 1.8rem;
    }

    .text-p{
        font-size: 1.2rem;
    }

    #foto1{
        display: none;
    }

    #basquete{
        flex-direction: column;
    }

    .left-painel{
        width: 90%;
    }

    .desc-jersey{
        font-size: 1rem;
    }

    .jersey{
        width: 70%;
    }
}




